/**************************************************
 *  STYLES 
 *************************************************/
:root {
    font-family: Roboto;
    line-height: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.check {
    border: 1px solid blue;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.menu-icon {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon__line {
    width: 100%;
    height: 3px;
    background: black;
}

.menu-icon__line:not(:last-child) {
    margin-bottom: 4px;
}

.logo {
    display: block;
    font-weight: 900;
    font-size: 30px;
}

/**************************************************
 *  STYLES 
 *************************************************/

.intro__image {
    position: relative;
    height: 450px;
    background-image: url("http://www.syndicut.co/images/home-main.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.intro__header {
    position: absolute;
    left: 36px;
    right: 36px;
    top: 360px;
    color: #387164;
    font-size: 64px;
    font-weight: 900;
    line-height: 0.9;
    letter-spacing: -1px;
    ;
}

.intro__address {
    margin: 60px 0 0 0;
    padding: 0 0 0 36px;
    position: relative;
    display: flex;
    height: 72px;
}

.intro__address::before {
    content: attr(data-text);
    font-size: 18px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 25px;
}

.intro__address::after {
    position: absolute;
    content: "";
    background-image: url("http://www.syndicut.co/images/arrow-down.svg");
    width: 19px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
}

.gallery {
    margin: 20px 0 0 0;
}

.gallery__image {
    width: 55%;
    height: 45vh;
}

.image {
    object-fit: cover;
    width: 100%;
}