* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-weight: 400;
}

:root {
    font-family: "Times new roman";
}



.info__name,
.info__caption {
    font-size: 30px;
}

.info__about {
    margin-top: 16px;
}

.copy__container {
    display: flex;
    flex-direction: column;
}

.copy__slide {
}

.slide__image {
    width: 100%;
}