* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    background: lightblue;
    padding: 10px;
}

.navlink {
    display: inline-flex;
    overflow: hidden;
    background: pink;
}

.navlink__wrapper {
    display: inline-block;
}
/* .navlink:hover .navlink__letter {
    animation-duration: 0.5s;
    animation-name: moveup;
    animation-timing-function:ease-in-out;
} */

.moveup {
    /* animation-duration: 0.5s; */
    animation-name: moveup;
    animation-timing-function: ease-out;
}

@keyframes moveup {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100%);

    }
    51% {
        transform: translateY(100%);

    }

    to {
        transform: translateY(0);
    }
}