* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Roboto;
}

body {
    position: relative;
}

.navbar {
    display: flex;
    flex-direction: column;
    /* background: lightblue; */
    padding: 10px;
    position: absolute;
    top: 190px;
    left: 60px;
}

.navlink {
    display: inline-flex;
    overflow: hidden;
    /* background: pink; */
}

.navlink__wrapper {
    display: inline-block;
    padding: 6px;
}

.navlink__letter {
    font-weight: 700;
    font-size: 21px;
}

.moveup {
    /* animation-duration: 0.5s; */
    animation-name: moveup;
    animation-timing-function: ease-out;
}

.cursor {
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: rgba(0, 0, 0, 1);
    transition-duration: 600ms;
    transition-timing-function: ease-out;
}

.title {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 250px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 0.8;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;

}


body {
    height: 100vh;
}

@keyframes moveup {
    from {
        transform: translateY(0);
    }

    48% {
        opacity: 1;
    }


    /* change in opacity is so that you don't see the letters jump */ 
    49% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(100%);
    }

    60% {
        opacity: 1;
    }

    to {
        transform: translateY(0);
    }
}
