:root {
    --white: rgba(255, 255, 255, 1);
    --blue: rgba(57, 53, 72, 1);
    --blue1: #8A8CFB;
    --blue2: #6863C7;
    --blue3: #302E91;
    --blue4: #161475;
    /* change later */
    font-size: 12px;
    font-family: Roboto;
    --image-ease: cubic-bezier(.7, 0, .7, 1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.2;
}


a {
    text-decoration: none;
}

.serif {
    font-family: "Times New Roman";
}

.header-container {
    position: absolute;
    width: 100%;
    top: 2vh;
    left: 0;
    padding-top: 5px;
    z-index: 10;
    overflow: hidden;
}

.header-content {
    display: flex;
    margin: 0 4vw;
}

.header-item-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
    align-items: center;
}

.header-item {
    margin-bottom: 8px;
    color: white;
}

.header-img {
    position: relative;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 8px;
}

.home-section {
    width: 100%;
    position: relative;
    display: flex;
}

.image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.home-section.main .image-container .image {
    height: 100%;
}

.home-section.main .section-text {
    width: 70%;
    text-align: center;
}

.home-section.manifesto {
    flex-direction: column;
}

.manifesto-background {
    height: calc(100vh/3);
    max-height: 200px;
    display: flex;
    position: relative;
}

.manifesto .section-text {
    font-size: 2.25rem;
}

.manifesto .image-container .image {
    height: 100%;
}

.manifesto-text {
    display: flex;
    justify-content: start;
    padding: 4rem 1.5rem;
    flex-direction: column;
}

.manifesto-text .section-text {
    width: 90%;
    padding: 0 1.5rem;

}

.manifesto-text .section-text .sub-header {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}


.red {
    background: red;
}

.blue {
    background: blue;
}

.blue1 {
    background: var(--blue1);
}

.blue2 {
    background: var(--blue2);
}

.blue3 {
    background: var(--blue3);
}

.blue4 {
    background: var(--blue4);
}

.green {
    background: green;
}

.image {
    display: block;
    object-fit: cover;
    width: 100%;
}

.text-center {
    align-items: center;
    justify-content: center;
}

.section-text {
    font-size: 2.5rem;
    color: var(--blue);
}

.section-text.line {
    font-size: 3rem;
}

.footer {
    background-color: #1a1a1a;
    padding: 5rem 2rem 7rem;
    color: white;
}

.footer-text {
    color: rgba(255, 255, 255, 0.35);
    font-size: 2.75rem;
    margin-bottom: 4rem;
}

.contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.contact-header {
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;

}

.contact-section {
    flex-grow: 1;
}

.footer-legal {
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.3)
}

.footer-legal p {
    flex-grow: 1;
}

.vh100 {
    height: 100vh;
}




/* IMAGE CAROUSEL */
.home-section.cases {
    height: 90vh;
}

.carousel-control {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.carousel-button {
    height: 100%;
    width: 50%;
    position: relative;

}

.carousel-button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#leftBtn::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
}

#rightBtn::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%);
}

.carousel-button:hover::after {
    animation-duration: .5s;
    animation-name: fade-in-out;
}

.carousel-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    height: 100%;
    position: relative;
    transition: transform 750ms var(--image-ease);
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
}

.case-container {
    width: 100vw;
    height: 100%;
}

.carousel-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    user-select: none;
    z-index: 20;
}

.carousel-indicator {
    border: 0;
    height: 20px;
    width: 50px;
    margin: 0 3px;
    user-select: none;
    display: flex;
    align-items: center;
}

.indicator-bar {
    height: 3px;
    width: 100%;
    background: rgba(255, 255, 255, .4);
}

.carousel-indicator.active .indicator-bar {
    background: rgba(255, 255, 255, .8);
}

@keyframes fade-in-out {
    30% {
        opacity: .3;
    }

    60% {
        opacity: .3;
    }

    100% {
        opacity: 0;
    }
}