* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
}

:root {
    /* font-family: "Franklin Gothic"; */
    line-height: 1.3;
}

.no-scroll {
    overflow: hidden;
}

.header {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.header__graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 100%; */
}

.header__vector {
    /* width: 60%; */
    /* height: 100%;  */
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__header {
    padding: 2vw 2vw 0 2vw;
}

.header__salute {
    padding: 2vw;
}

.feelings__wrapper {
    width: 19vh;
    height: 19vh;
    position: fixed;
    z-index: 10;
    right: 2.5vw;
    bottom: 2.5vw;
    transition: transform 0.2s ease;
}

.feelings__wrapper:hover {
    transform: scale(1.1);
}

.feelings__vector {
    transition: transform 0.3s ease;
    width: 100%;
    animation-duration: 45s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.salute__line {
    font-weight: 500;
    font-size: 2vw;
}

.salute__line--underline {
    text-decoration: underline;
}

.salute__line--scrollDown {
    margin-top: 2vw;
    cursor: pointer;
}

.salute__line--scrollDown:hover {
    text-decoration: underline;
}

.cycle {
    transition: all 50ms;
}

.emotion__wrapper {
    position: relative;
}

.emotion {
    padding: 10vh 2vw;
}

.emotion__header {
    font-size: 6vw;
    display: inline-block;
    position: relative;
    color: white;
}

.emotion__header:hover {
    text-decoration: underline;
}

.emotion__header--active {
    color: black;
    z-index: 100;
}

.emotion__story {
    background: inherit;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    display: none;

}

.emotion__story--show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emotion__quote,
.emotion__byline {
    font-family: Montserrat, sans-serif;
}

.emotion__subheader,
.emotion__quote,
.emotion__byline {
    /* width: calc(50% - 5vmin); */
    padding: 5vmin 5vmin 5vmin 50%;
}

.emotion__wrapper:hover .cursor {
    display: block;
}

.cursor {
    /* display: none; */
    background: cyan;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

/**********************
 *
 *  EMOTION COLORS
 *
 *********************/

.emotion--adventurous {
    background: rgb(255, 236, 0);
    cursor: url(svg/cursor1.svg), grab;
}

.emotion--humane {
    background: rgb(219, 77, 71);
}

.emotion--motivated {
    background: rgb(48, 66, 173);
}

.emotion--vibrant {
    background: rgb(3, 193, 129);
}

/**********************
 *
 *  SUBSCRIBE
 *
 *********************/

.about {
    padding: 2vw;
}

.about__contents {
    width: 66%;
}

.about__header {
    font-size: 6vw;
    font-weight: 500;
}

.header__header,
.about__text p {
    font-weight: 500;
    font-size: 2.7vw;
}

.about__text p {
    margin-top: 4vw;
}

.subscribe {
    background: #60C565;
    color: white;
}

.subscribe__contents {
    width: 52vw;
    padding: 2.5vw 4vw 3.3vw;
}

.subscribe__header {
    font-size: 3.2vw;
    font-weight: 400;
    letter-spacing: .1em;
    margin-bottom: 10vw;
}

.subscribe__form {
    display: flex;
}

input {
    font-size: 2.5vw;
}

.subscribe__form input[type=email] {
    background: none;
    color: white;
    padding: 0.6em 0 0.6em 1.5em;
    border: .4vw solid white;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.subscribe__form input[type=email]::placeholder {
    color: rgba(255, 255, 255, .7);
}

.subscribe__form input[type=submit] {
    color: #60C565;
    background: #fff;
    padding: .6em 1.5em .6em 1em;
    border: 1px solid white;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
.subscribe__form input[type=submit]:hover {
    border-color: #000;
    background: #000;

}